ion-header {
    z-index: auto;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-menu-button {
    color: var(--ion-color-primary-contrast);
}

ion-content.background {
    --background: url("/assets/images/landing-background.jpg") no-repeat center center / cover;

    .section1 {
        height: 30%;
        padding-top: 100px;

        img {
            border-radius: 10px;
            height: 80px;
        }
    }

    h2 {
        font-size: 2.5rem;
        color: #000000;
    }

    .section2 {
        bottom: 100px;
        position: absolute;
        width: 100%;
        padding: 10%;
    }

    #section3 {
        text-align: center;
        bottom: 5px;
        padding: 10px;
        position: absolute;
        width: 100%;
    }
}
