<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar color="color1">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/tabs/home" routerDirection="root">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <!-- Profile Picture -->
  <ion-grid id="no-elements" class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="flex-direction: column">
      <div class="ion-text-center ion-padding">
        <img class="user-avatar" src="assets/images/avatar.png">
      </div>
      <ion-button size="small" color="color1" fill="outline" shape="round">Change Photo</ion-button>
    </ion-row>
  </ion-grid>


  <!-- Others Infos -->
  <ion-list lines="full" class="ion-padding-top">
    <ion-item>
      <ion-text slot="end">Linton Farade</ion-text>
      <ion-label color="medium" class="ion-padding">Name</ion-label>
    </ion-item>

    <ion-item>
      <ion-text slot="end">linton@gmail.com</ion-text>
      <ion-label color="medium" class="ion-padding">Email</ion-label>
    </ion-item>

    <ion-item>
      <ion-text slot="end">+9 123 654</ion-text>
      <ion-label class="ion-padding">Phone</ion-label>
    </ion-item>

    <ion-item>
      <ion-text slot="end">12/12/2020</ion-text>
      <ion-label color="medium" class="ion-padding">Date of Birth</ion-label>
    </ion-item>

    <ion-item>
      <ion-text slot="end">Cross Street, Saginaw</ion-text>
      <ion-label color="medium" class="ion-padding">Address</ion-label>
    </ion-item>
  </ion-list>
</ion-content>